

<div class="bg-slate-700">
    <h1 class="text-white decoration-solid"> please add your vegtables here </h1>
    <div class="  flex justify-between ">
    
        <div>
            <img src="assets\vegtables\pexels-picjumbo-com-55570-196643.jpg" class="w-1/2 h-2/5 ml-8 mt-20">
            <img src="assets/vegtables/basket.png" class="w-40 items-center ml-8">
        </div>
       <div>
        <img src="assets\vegtables\pexels-pixabay-255469.jpg" class="w-1/2 h-2/5 mt-20" >
        <img src="assets/vegtables/basket.png" class="w-40 items-center">
       </div>
        
    </div>
    <div class="  flex justify-between ">
    
        <div>
            <img src="assets\vegtables\pexels-minan1398-1093837.jpg" class="w-1/2 min-h-20 ml-8 mt-20">
            <img src="assets/vegtables/basket.png" class="w-40 items-center ml-8">
        </div>
       <div>
        <img src="assets\vegtables\jakub-kapusnak-vnNFWKY7Tj4-unsplash.jpg" class="w-1/2 min-h-20 mt-20" >
        <img src="assets/vegtables/basket.png" class="w-40 items-center">
       </div>
        
    </div>
</div>

